.dropdown:hover .dropdown-content {
    display : block;
}

#PopUp{
    position : fixed;
    width : 25em;
    height : 15em;
    border : 2px solid;
    display : none;
    top: 30%; left: 50%;
    margin-left: -12.5em;
    margin-top: -5%;
    padding: 2em;
}

#flag {
    width: 110px;
    height: 56px;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background: pink;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}
#flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #eee;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
}