{% extends 'layout.html' %}

{% block pageload %}
{% if session['id'] %}
    <script>
        $(document).ready(function(){
            readSam();
            showRank();
            setKeyword();
            Beloggedin();
        });
    </script>
{% else %}
    <script>
        $(document).ready(function(){
            readSam();
            showRank();
            setKeyword();
            Notlogin();
            $('#goLogin').hover(function() {
                $('#chat').show();
                $('#wannalogin').show();
            }, function() {
                $('#chat').hide();
                $('#wannalogin').hide();
            })

            $('#goSet').hover(function() {
                $('#chat').show();
                $('#wannaSet').show();
            }, function() {
                $('#chat').hide();
                $('#wannaSet').hide();
            })


            $('#justSee').hover(function() {
                $('#chat').show();
                $('#wannaSee').show();
            }, function() {
                $('#chat').hide();
                $('#wannaSee').hide();
            })
        });
    </script>
{% endif %}
{% endblock %}


{% block content %}
<div class="card rank-box">
    <div class="card-header">방목(榜目)</div>
    <div class="card-content">
        <p> 장원 : <span id="rank-1"></span></p>
        <p> 급제 : <span id="rank-2"></span></p>
        <p> 급제 : <span id="rank-3"></span></p>
    </div>
</div>

<div class="sam-column">
    <div class="card">
        <div class="card-content">
            <p class="title"> 금일 시제(試題)는 "<span id="keyword"></span>"!</p>
        </div>
    </div>
    <div class="sam-add-button">
        <span class="icon is-large pointer" onclick="showSamAddCard()">
            <i class="fas fa-plus-circle fa-3x"></i>
        </span>
    </div>
    <div class="card" id="sam-add-card">
        <div class="card-content">
            <div class="field">
                <div class="control">
                    <span id="keyword-first"></span>
                    <input id="sam-first" class="input is-primary" type="text">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <span id="keyword-second"></span>
                    <input id="sam-second" class="input is-primary" type="text">
                </div>
            </div><div class="field">
            <div class="control">
                <span id="keyword-third"></span>
                <input id="sam-third" class="input is-primary" type="text">
            </div>
        </div>
        </div>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" onclick="createSam()">
                    만들기
                </a>
            </p>
            <p class="control">
                <a href="#" class="button is-light" onclick="hideSamAddCard()">
                    취소
                </a>
            </p>
        </div>
    </div>
    <div id="sam-list">
    </div>
</div>

<span id="today_word"></span>
{% endblock %}