{% extends 'layout.html' %}

{% block pageload %}
{% if session['id'] %}
    <script>
        $(document).ready(function(){
            readSam();
            showRank();
            Beloggedin();
        });
    </script>
{% else %}
    <script>
        $(document).ready(function(){
            readSam();
            showRank();
            Notlogin();
        });
    </script>
{% endif %}
{% endblock %}


{% block content %}
<div class="card rank-box">
    <div class="card-header">금의환향</div>
    <div class="card-content">
        <p>1등 : OOO</p>
        <p>2등 : OOO</p>
        <p>3등 : OOO</p>
    </div>
</div>

<div class="sam-column">
    <div class="card">
        <div class="card-content">
            <p class="title">
                오늘의 키워드는 OOO 입니다!
            </p>
        </div>
    </div>
    <div id="sam-list">
    </div>
    <div class="card" id="sam-add-card">
        <div class="card-content">
            <div class="field">
                <div class="control">
                    <span>O :</span>
                    <input id="sam-first" class="input is-primary" type="text">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <span>O :</span>
                    <input id="sam-second" class="input is-primary" type="text">
                </div>
            </div><div class="field">
            <div class="control">
                <span>O :</span>
                <input id="sam-third" class="input is-primary" type="text">
            </div>
        </div>
        </div>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary" onclick="createSam()">
                    만들기
                </a>
            </p>
            <p class="control">
                <a href="#" class="button is-light" onclick="hideSamAddCard()">
                    취소
                </a>
            </p>
        </div>
    </div>

    <div class="sam-add-button">
        <span class="icon is-large pointer" onclick="showSamAddCard()">
            <i class="fas fa-plus-circle fa-3x"></i>
        </span>
    </div>
</div>

{% endblock %}