<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bulma 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- fontawesome 링크-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <!-- google font 링크-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- jQuery 링크 -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!-- 스타일시트 링크 -->
    <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mypage.css') }}" rel="stylesheet">

    <!-- 스크립트 링크 -->
    <script src="{{ url_for('static', filename='layout.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='mypage.js') }}"></script>

    <title>장원급제</title>

    {% block pageload %}{% endblock %}

        .dropdown:hover .dropdown-content {
            display : block;
        }

        #PopUp{
            position : fixed;
            width : 25em;
            height : 15em;
            border : 2px solid;
            display : none;
            top: 30%; left: 50%;
            margin-left: -12.5em;
            margin-top: -5%;
            padding: 2em;
        }

        #flag {
             width: 110px;
             height: 56px;
             box-sizing: content-box;
            padding-top: 15px;
            position: relative;
            background: pink;
            color: white;
             font-size: 11px;
            letter-spacing: 0.2em;
             text-align: center;
             text-transform: uppercase;
        }
         #flag:after {
             content: "";
             position: absolute;
             left: 0;
             bottom: 0;
             width: 0;
             height: 0;
             border-bottom: 13px solid #eee;
             border-left: 55px solid transparent;
            border-right: 55px solid transparent;
         }

    </style>

    <script>
        function OpenPop(){
            $("#PopUp").show();
        }

        function CreateAccount(){
            let createId = $("#idValue").val();
            let createPw = $("#pwValue").val();

            $.ajax({
                type: "POST",
                url: "/user/create",
                data: {id_give: createId, pw_give: createPw},
                success: function (response) {
                    if (response["result"] == "success") {
                        alert('입궐하셔도 좋소')
                        window.location.reload();
                    } else {
                        alert('문벌을 사칭하지마시오')
                    }
                }
            })
        }
    </script>
</head>

<body>
<div class="header" style="width : 100%; height:70px; background-color: white; position: fixed">
    <div class="uplayout">
        <div><i class="fas fa-caret-right fa-2x" style="float : left; margin : 8px 8px 0 0"></i></div>
        <div style="display : inline; float : left">
            <h1>장원급제</h1>
        </div>
        <div class="dropdown" style="float : right; margin : 8px 10px 0 0">
            <i class="fas fa-user-circle fa-2x" onclick="OpenPop()"></i>
            <div class="dropdown-content">
                <p>Sign in</p>
            </div>
        </div>
    </div>
    </div>
    <div style="height: 90px"></div>
    {% block content %}{% endblock %}
    <div id="PopUp">
        <div style="width: 23em; height: 4em">
            <div style="width : 5em; height: 3em; display: block; float: left; padding: 0.6em 0;">문벌</div>
            <div style="width : 16em; height: 3em; display: block; float: left">
                <input style="width : 100%; height: 100%" placeholder="어디 집안이오" id="idValue">
            </div>
        </div>
        <div style="width: 23em; height: 5em">
            <div style="width : 5em; height: 3em; display: block; float: left; padding: 0.6em 0;">호패</div>
            <div style="width : 16em; height: 3em; display: block; float: left">
                <input style="width : 100%; height: 100%" placeholder="문호를 증명하시오" type="password" id="pwValue">
            </div>
        </div>
        <div style="width: 23em; height: 4em">
            <div style="width : 10.5em; display: block; float: left; text-align: center; border : 2px solid">입궐(入闕)</div>
            <div style="width : 10.5em; display: block; float: left; text-align: center" onclick="CreateAccount()"> 서경(署經) </div>
        </div>
    </div>
    <div style="width: 23em; height: 4em">
        <div style="width : 10.5em; display: block; float: left; text-align: center; border : 2px solid">입궐(入闕)</div>
        <div style="width : 10.5em; display: block; float: left; text-align: center"> 서경(署經) </div>
    </div>
</div>
<div class="belowlayout">
    <p> Copyright </p>
</div>
</body>
</html>