{% extends 'layout.html' %}

{% block content %}
{% endblock %}



<body>
<div class="main">
    <div class="title">
        <div class="container">
            <h1 class="title has-text-black has-text-centered">
                Mypage
            </h1>
            <p></p>
            <h3 class="subtitle has-text-info has-text-centered">
                자신의 삼행시를 보여줍니다.
            </h3>
            <div class="column">
                <div class="box notification is-danger">
                    <div class="lines">
                            <span class="title1 has-text-info">
                                <span>삼</span>
                            </span>
                        <span class="level1 is-size-5">
                                <span>행시가 들어갈 내용</span>
                            </span>
                        <br></br>
                        <span class="title2 has-text-info">
                                <span>행</span>
                            </span>
                        <span class="level2 is-size-5">
                                <span>시가 들어갈 내용</span>
                            </span>
                        <br></br>
                        <span class="title3 has-text-info">
                                <span>시</span>
                            </span>
                        <span class="level3 is-size-5">
                                <span>가 들어갈 내용</span>
                            </span>
                        <br></br>
                    </div>
                    <div class="likes">
                        <span class="level-item">
                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                        </span>
                    </div>
                    <div class="level-right is-size-4">
                    Apr 28, 2018
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>